<%- include('common/_head'); %>
<%- include('common/_header'); %>

<main>
  <p>Welcome to <%= title %></p>

  <div class="article-grid">
    <div class="article">
      <img src='https://via.placeholder.com/200x200' />
      <p class="title">Title</p>
      <p class="description"></p>
    </div>
    <div class="article">
      <img src='https://via.placeholder.com/200x200' />
      <p class="title">Title</p>
      <p class="description"></p>
    </div>
    <div class="article">
      <img src='https://via.placeholder.com/200x200' />
      <p class="title">Title</p>
      <p class="description"></p>
    </div>
  </div>
</main>

<%- include('common/_footer'); %>
<%- include('common/_foot'); %>
