<%- include('common/_head'); %>
<%- include('common/_header'); %>

<main>
  <p>Welcome to <%= title %></p>

  <div class="article-grid">
    <% for(let article of data) { %>
      <div class="article">
        <img src='<%= article.img %>' />
        <p class="title"><%= article.title %></p>
        <p class="description"><%= article.description %></p>
      </div>
    <% } %>
  </div>
</main>

<%- include('common/_footer'); %>
<%- include('common/_foot'); %>
