<%- include('common/_head'); %>
<%- include('common/_header'); %>

<main>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</main>

<%- include('common/_footer'); %>
<%- include('common/_foot'); %>
